{% extends 'base.html' %}
{% block breadcrumb %}Login{% endblock %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Login</h1>
  <form method="POST">
	
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-primary" type="submit">Login</button>
	<a class="btn btn-secondary" href="{% url 'cadastrar' %}">Cadastrar</a>

</form>
  
</div>

{% endblock %}
