{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Banco de Talentos</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'js/sb-admin-datatables' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script>
$(document).ready(function(){
    $("input").click(function(){
        $("#div").fadeIn("slow");
        
    });
});
</script>


<!-- Modal -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body class="fixed-nav" id="page-top">
  <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      
    
    <div class="collapse navbar-collapse" id="navbarResponsive">
      
      <ul class="navbar-nav ml-auto">
        <li class="dropdown">
          
          
          {% if  user.is_authenticated %}
            <h6 style="color: white;">Bem vindo: {{user}}</h6>
            
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw"></i> 
                  User
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'visualizar_perfil' user.username %}"><i class="fa fa-user fa-fw"></i>Perfil</a>
                  <a class="dropdown-item" href="{% url 'update_profile' user.id %}"><i class="fa fa-pencil fa-fw"></i>Settings</a>                
                  <hr>
                  <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                </div>
            </div>
 
          {% else %}

            <a class="btn btn-light" href="{% url 'login' %}">Login</a>|
            <a class="btn btn-secondary" href="{% url 'cadastrar' %}">Cadastrar</a>
          {% endif %}        
 
        </li>

      </ul>
    </div>
  </nav>
  <br>
  
    <div class="container">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">{% block breadcrumb %}{% endblock %}</li>
      </ol>
      
      {% block Contagem %}
     
      {% endblock %}
      
          
      
            
      {% block content %}      
      
    {% endblock %}
   

    
{% block footer %}      

{% endblock %}    
    
    
    
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'js/sb-admin-datatables.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-charts.min.js' %}"></script>
  </div>
 <script>
           
           
            oTable = $('#tableAlunos').DataTable({
            
              "language": {
              "lengthMenu": "Mostrar _MENU_ registros por página",
              "zeroRecords": "Resultado não encontrado - Desculpa-me",
              "info": "Mostrando página _PAGE_ de _PAGES_",
              "infoEmpty": "No records available",
              "infoFiltered": "(filtered from _MAX_ total records)",
              "oPaginate": {
                          "sNext": "Próximo",
                          "sPrevious": "Anterior",
                          "sFirst": "Primeiro",
                          "sLast": "Último"
              },
              }
           });   
           
          $('#myInputTextField').keyup(function(){
            oTable.search($(this).val()).draw() ;
          })

</script> 
</body>

</html>
