{% extends 'base.html'%}
{% load bootstrap3 %}
{% block breadcrumb %}Dados do profile{% endblock %}
{% block content %}


<div class="container">
  
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Pin</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Digite o Pin</h4>
        </div>
        <div class="modal-body">
          <input type="password" name="pin">
          <button type="submit" class="btn btn-primary">Verificar</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
<br>



<div class="container">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formulario.as_p }}
    <button class="btn btn-primary" type="submit" name="action">Salvar
    </button>

</div>    
</form>
 <br><br><br><br>
{% endblock content %}