{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block breadcrumb %}Home{% endblock %}
{% block Contagem %}
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa fa-users"></i>
              </div>
              <div class="mr-5"><h4>{{count}} Profiles</h4></div>
            </div>
            
          </div>
        </div>
      </div>
       
      {% endblock %}        
{% block content %}


<style>

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

#tableAlunos_filter{
    display: none;
}



</style>
<div class="container">
<input  id="myInputTextField" type="text" name="search" placeholder="Pesquisar..">

</div>
<br>
<div class="container" id="div" ">

<!-- <input id="myInputTextField" type="search" name="pesquisa" > -->
           
    <table id="tableAlunos" class="table-striped" width="100%" cellspacing="0"">
        <thead class="thead-dark">

            <tr>
                <th>Foto</th>
                <th>Nome</th>
                <th>Função</th>
                <th>Habilidades</th>
                <th>Vínculo</th>
                <th>Disponibilidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in lista_profiles %}
                <tr>
            
                    <td>
                        
                        {% if profile.photo %}
                            <img class="rounded border img-thumbnail" style="
                            object-fit: cover;
                            object-position: center;
                            width: 6em; 
                            height: 6em;" 
                            src="{{profile.photo.url}}" alt="{{profile.photo}}">
                        {% else %}
                            <img src="{% static 'images.avatar.jpg' %}" alt="{{profile.photo}}">
                        {% endif %}

                    </td>
                    <td>{{profile.nome}}</td>
                    <td>{{profile.funcao}}</td>
                    <td>{{profile.habilidades}}</td>
                    <td>{{profile.vinculo}}</td>
                    <td>
                            {% if profile.disponibilidade %}
                                <p style="text-align: center;">Sim</p>
                            {% else %}
                                <p style="text-align: center;">Não</p> 
                            {% endif %}       
                            </td>
                    <td>
                        <a href="{% url 'visualizar_perfil' profile.username %}">Vizualizar</a>
                    </td>
               
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <br>
         
</div><br>
{% endblock %}
{% block footer %}      
<footer class="sticky-footer">
  <div class="text-center">
    <p>Banco de Talentos | Fábrica de Software 2018</p>
  </div>
</footer>
</div>      
{% endblock %} 
   


   

