{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}Perfil{% endblock %}        
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Perfil</h1>
    <div class="container">
        
            {% for dados in lista %}
                <td>
                    {% if dados.photo %}
                        <img class="rounded img-thumbnail" 
                            style="
                                object-fit: cover;
                                width: 14em; 
                                height: 16em;" 
                                src="{{dados.photo.url}}" alt="{{dados.photo}}">
                    {% else %}
                        <img src="{% static 'images.avatar.jpg' %}" alt="{{dados.photo}}">
                    {% endif %}
                        </td>
                        <td><h2>{{dados.nome}}</h2></td>
                        <td><h5>Fução</h5><br>{{dados.funcao}}</td><hr>
                        <td><h5>Habilidades</h5><br>{{dados.habilidades}}</td><hr>
                        <td><h5>Vínculo</h5><br>{{dados.vinculo}}</td><hr>
                        <td><h5>Dísponivel para trabalho?</h5><br>
                            {% if dados.disponibilidade %}
                                <p>Sim</p>
                            {% else %}
                                <p>Não</p> 
                            {% endif %} 
                        </td>
                           
                    {% endfor %}
    </div>            
</div>
{% endblock %}
   
