<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>

<body>

<h2>Login</h2>

<form method="POST">
	
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Login</button>

</form>


</body>

</html>